<div>
  <div class="py-5">
    <h1>Filtros</h1>
    <form [formGroup]="filterForm" (ngSubmit)="onFilter()">
      <div>
        <label for="order_dms">Número de venta</label>
        <input
          type="text"
          placeholder="Número venta"
          class="border border-black"
          formControlName="order_dms"
        />

        <label for="vin">VIN</label>
        <input
          type="text"
          placeholder="VIN"
          class="border border-black"
          formControlName="vin"
        />

        <label for="reference">Referencia de venta</label>
        <input
          type="text"
          placeholder="Referencia de venta"
          class="border border-black"
          formControlName="reference"
        />

        <button type="submit">Filtrar</button>
      </div>
    </form>
  </div>
</div>
