li{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.3rem;
}

.icon-tab{
    font-size: 2rem;
    color: #848484;
}

li:hover{
    border-bottom: 3px solid #FF5C20;
    cursor: pointer;
}

li:hover .icon-tab {
  color: #FF5C20;
}

li:hover span:last-child {
  color: black;
}

/* Estilos para tab activo */
li.active-tab {
  border-bottom: 3px solid #FF5C20;
}

li.active-tab .icon-tab {
  color: #FF5C20;
}

li.active-tab span:last-child {
  color: black;
  font-weight: 600;
}

.tab{
  border-bottom: 1px solid #888888;
  border-right: 3px solid black;
  border-left: 3px solid black;
  border-top:3px solid black ;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}