<div class="flex justify-center px-[10rem] ">
    <div class="tab w-full flex justify-center px-4 pt-4 pb-1 rounded-t-2xl bg-white">
        <ul class=" w-full flex justify-between text-[1rem] text-[#848484]">
            <li class="flex flex-col items-center ">
                <span class="material-symbols-outlined icon-tab">order_approve</span>
                <span>Ordenes</span>
            </li>
            <li class="flex flex-col items-center">
                <span class="material-symbols-outlined icon-tab">inventory</span>
                <span>Inventario</span>
            </li>
            <li class="flex flex-col items-center">
                <span class="material-symbols-outlined icon-tab">car_repair</span>
                <span>Servicios</span>
            </li>
            <li class="flex flex-col items-center">
                <span class="material-symbols-outlined icon-tab">group</span>
                <span>Clientes</span>
            </li>
            <li class="flex flex-col items-center">
                <span class="material-symbols-outlined icon-tab">database</span>
                <span>DWH</span>
            </li>
        </ul>
    </div>
</div>
