li {
    // padding-left: 0.5rem;
    // padding-right: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-bottom: 0.3rem;
    transition: all 0.3s ease;
}

@media (min-width: 640px) {
    li {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.icon-tab {
    font-size: 1.5rem;
    color: #848484;
    transition: color 0.3s ease;
}

@media (min-width: 640px) {
    .icon-tab {
        font-size: 2rem;
    }
}

li:hover {
    border-bottom: 3px solid #FF5C20;
    cursor: pointer;
}

li:hover .icon-tab {
    color: #FF5C20;
}

li:hover span:last-child {
    color: black;
}

/* Estilos para tab activo */
li.active-tab {
    border-bottom: 3px solid #FF5C20;
}

li.active-tab .icon-tab {
    color: #FF5C20;
}

li.active-tab span:last-child {
    color: black;
    font-weight: 600;
}

.tab {
    border-bottom: 1px solid #888888;
    border-right: 3px solid black;
    border-left: 3px solid black;
    border-top: 3px solid black;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1rem 1rem 0 0;
}