// li{
// 	cursor:pointer;
// 	padding-left:1.25rem;
// 	padding-right: 1.25rem;
// 	padding-top: 0.5rem;
// 	padding-bottom: 0.5rem;
// }

// li:hover{
// 	background-color: white;
// 	border-radius: 0.5rem;
// }